@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.content1{
  display: grid;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.wrapper label{ 
    margin:5%;
}

table {
    margin: 5%;
}