<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

</head>
<body>
<app-menu></app-menu>
<div class="content">
<div class="wrapper">
        <label for="ani">Anul de studiu</label>
        <select name="ani" id="ani">
            <option value="an1">Anul I</option>
            <option value="an2">Anul II</option>
            <option value="an3">Anul III</option>
        </select>
    <div class="content">
        <table ng-repeat="user in users">
            <tr>
                <th>Materie</th>
                <th>Nota</th>
            </tr>
            <tr ng-repeat="subject in user.subjects">
                <td>Tehnologii Web</td>
                <td>10</td>
            </tr>
        </table>
    </div>
</div></div>
</body>
</html>
